.messages_list {
    flex: 0 0 350px;
    width: 350px;
}


.conversation_item img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.messages_list li, .message_head {
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.message_head {
    background: #ecf2f3;
    color: #000;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
}
.message_text {
    display: flex;
    justify-content: space-between;
}


.message_text span.messsage_count {
    min-width: 20px;
    font-size: 10px;
    height: 20px;
    width: auto;
    line-height: 21px;
    top: 2px;
}
.activeMessage, .messages_list li:hover {
    background: #0c5e6214;
}
span.user_message {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." at the end if text overflows */
}
.message_user span {
    font-size: 13px;
}

.message_user h6 {
    margin-bottom: 0px;
    text-transform: capitalize;
    font-size: 14px;
}
.disabled {
    color: gray;
    pointer-events: none;
    cursor: not-allowed;
  }
  p.message_dialogue {
    background: #ededed;
    padding: 7px 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    color: #000;
    margin-top: 6px;
    font-size: 12px;
}
.conversation_item .message_time{
    color: var(--primary-color) ;
}
.right_conversation p.message_dialogue {
    background: #ACC9CB;
    color: #000;
    
}

span.message_errors {
    color: red;
    font-size: 13px;
    padding: 6px;
}
.round_image{
    border-radius: 50%;
}

.send_message {
    background: #ecf2f3;
    padding: 15px;
}

.send_message input {
    width: 100%;
    height: 49px;
    padding: 0px 20px;
    border: unset;
    border-radius: 35px;
    font-size: 14px;
    padding-right: 60px;
}

.send_message {
    position: relative;
}

.send_message svg, .send_message .spinner-border {
    position: absolute;
    right: 28px;
    top: 27px;
}
.send_message .spinner-border{
    width: 22px;
    height: 22px;
    flex: 0 0 22px;
}
.messages_content.flex-grow-1 {
    height: calc(100vh - 125px);
    box-shadow: 0px 0px 5px rgba(0,0,0,10%);
}
.user_chat {
    height: calc(100vh - 250px);
    overflow: auto;
}
.send_message input:focus{
    outline: 1px solid var(--primary-color);
}

img.round_image {
    border-radius: 18px;
}
.no_cahts {
    height: calc(100vh - 116px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    flex-grow: 1;
}

.no_cahts img {
    width: 300px;
}