ul {}

.report_info ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.report_info ul strong {
    min-width: 122px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

.report_info ul span {
    font-weight: 400;
    color: var(--primary-color);
    font-size: 12px;
}
.report_info {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ACC9CB80;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 8%);
    padding: 20px;
    border-radius: 5px;
}
/*patient data css ends here */

.patient_filter {
    position: absolute;
   z-index: 3;
    top: 64px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 10%);
    border-radius: 5px;background: #fff;
    right: 0;
    min-width: 270px;
}
.patient_filter button.cmn_btn {
    height: 37px;
}

.filter_list {
   display: flex;
   border: 1px solid #D9D9D9;
   border-radius: 3px;
   margin-bottom: 10px;
}
.patient_filter .patient_dropdown {
    margin-bottom: 10px;
}



.patient_dropdown button.btn {
    background: transparent;
    width: 100%;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #D9D9D9 !important;
}

.patient_dropdown button:hover {
    background: unset;
    color: #000;
  border: unset;
}

.patient_dropdown 
 button:active {
    background: unset;
}

.patient_dropdown button:active {
    border: unset;
}

.patient_dropdown button:focus {
    box-shadow: unset;
    outline: unset;
}

.patient_filter .dropdown button::after {
    display: none;
}
.filter_list input:focus {
box-shadow: unset;
}
.patient_dropdown .dropdown-menu {
    padding: 0;
    width: 100%;
}
.patient_dropdown .dropdown-toggle::after{
    display: none;
}
.table .patient_dropdown button.btn {
    border: unset !important;
    width: unset;
    gap: 9px;
}
.patient_dropdown .dropdown-menu a.dropdown-item, .patient_dropdown .dropdown-menu .dropdown-item:active {
    font-size: 13px;
    padding: 8px 15px;
    border-bottom: 1px solid #CCCCCC;
    background-color: transparent;
    color: #000;
    text-transform: capitalize;
}
.patient_filter .patient_dropdown button.btn{
    color: #00000080;
}

.patient_filter .patient_dropdown  .dropdown {
    position: unset;
}

.patient_filter .patient_dropdown  .dropdown-menu {
    position: unset !important;
    inset: unset !important;
    transform: unset !important;
    overflow: auto;
    max-height: 198px;
}
.patient_dropdown .dropdown-menu a.dropdown-item:last-child {
    border: unset;
}
.filter_list input {
    border: unset;
    font-size: 15px;
    color: #00000080;
}

.label {
    padding: 6px 9px;
    border-right: 1px solid #ddd;
    background: #FAFAFA;
    color: #000;
    font-size: 15px;
}

.patient_filter::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #ffffff;
    top: -15px;
    right: 30px;
}

.patient_filter::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #00000059;
    top: -16px;
    right: 30px;
}
@media(max-width:1440px){
    .filter_list input, .label,.patient_dropdown button.btn{
        font-size: 13px;
    }
    .patient_filter button.cmn_btn {
        height: 33px;
    }
 
}