.fade.cmn_modal.modal {
    background: #f9fafbd4;
}
.cmn_head h2 {
    font-size: 24px;
    margin: 0;
}
.modal_head svg {
    width: 15px;
}
button.cmn_btn {
    background: var(--primary-color);
    color: var(--bs-white);
    font-weight: 500;
    padding: 0px 0.8rem;
    font-size: 14px;
}

.fade.cmn_modal.modal {
    background: #f9fafbd4;
}

.cmn_modal .modal-dialog {
    max-width: 796px;
}

.cmn_modal .modal-content {
    padding: 2rem;
    border: unset;
    box-shadow: 0px 4px 20px rgba(0,0,0,8%);
}
.modal_head svg {
    width: 15px;
}

.upload_file {
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    min-width: 164px;
    text-align: center;
    margin-bottom: 8px;
    color: var(--bs-black);
}

.upload_image {
    text-align: center;
}

span.remove_file {
    color: var(--bs-black);
    cursor: pointer;
}

.modal_heading {
    font-size: 18px;
    font-weight: 600;
    color: #21272A;
}
.image_req span {
    font-size: 14px;
}

.image_req p {
    font-size: 16px;
    font-weight: 500;
    color: var(--bs-black);
    margin-bottom: 4px;
}

.image_req {
    padding-left: 3rem;
}

.staff-user-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.staff-user-image {
    overflow: hidden;
}
/* delete modal */
.cmn_modal.deleteModal .modal-dialog {
    max-width: 560px;
}
.deletmodal_heading {
    color: var(--primary-color);
    font-size: 26px;
}
.modal_logo img {
    width: 153px;
}

/* Add patient */

ul.static_tabs {
    border-bottom: 1px solid #ddd;
}

ul.static_tabs li {
    padding: 10px;
    font-weight: 500;
    color: #666666;
}

ul.static_tabs li.active {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

ul.steps {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-bottom: 1.43px solid #D9DBE9;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
}

li.step {
    width: 30px;
    height: 30px;
    background: #EFF0F6;
    border-radius: 50%;
    flex: 0 0 30px;
    color: #6F6C90;
}

li.line_bar {
    width: 17%;
    height: 7px;
    background: #EFF0F6;
    border-radius: 12px;
}
h5.step_heading {
    font-size: 20px;
    color: var(--primary-color);
}
.cmn_modal.EmailSentModal .modal-dialog {
    max-width: 450px;
}

.EmailSentModal  .deletmodal_heading {
    font-size: 18px;
    line-height: 25px;
}

.EmailSentModal span {
    text-decoration: underline;
}

.EmailSentModal .modal_logo img{
    width: 103px;
}

/* Add exercise */
.drag_file {
    position: relative;
    height: 184px;
    border: 1.11px dashed #B1BFD0;
    border-radius: 5px;
    
}

.drag_file h4 {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}

.drag_file p {
    font-size: 12px;
    text-align: center;
    color: var(--primary-color);
}

.drag_file h4 span {
    color: var(--primary-color);
    font-weight: 500;
}

.authWrapper .drag_file input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.authWrapper.add_exercise textarea.form-control {
    height: unset;
}