
.reset_wrapper {
    background: var(--fade-color);
}

.reset_form {
    width: 100%;
    max-width: 550px;
    background: var(--bs-white);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,8%);
}
.authWrapper h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--bs-black);
}
.reset_wrapper img{
    width: 150px;
    margin: auto;
}
.password_icon svg {
    position: absolute;
    top: 7px;
    right: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

.patient_data .patient_dropdown .dropdown-menu li{
font-size: 12px;
}

.patient_data .patient_dropdown .dropdown-menu {
    width: 153px;
    min-width: unset;
}

/* tooltip */
.patient_data .table .patient_dropdown button.btn {
    border: 1px solid #ACC9CB80!important;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    color: #FF1115;
    width: 157px;
}
.patient_data .table .patient_dropdown .dropdown-menu{
    width: 157px;
}
.patient_dropdown button.cmn_btn {
    font-size: 12px;
    height: 30px;
}


.tooltip_wrapper span {
    width: 30px;
    height: 30px;
    border: 4px solid #000;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
}

.tooltip_wrapper .tooltip_custom {
    position: absolute;
    background: #fff;
    height: unset;
    max-height: unset;
    left: 50%;
    z-index: 2;
    max-width: 300px;
    padding: 13px;
    border: 1px solid #ACC9CB80;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    margin-top: 20px;
}
.tooltip_wrapper:hover .tooltip_custom{
    opacity: 1;
    visibility: visible;
    transition: all .3s; 
}
.tooltip_custom ul li:last-child {
    margin-bottom: 0px;
}
.tooltip_custom ul li {
    color: var(--bs-black);
    list-style: disc;
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 10px;
}

.tooltip_wrapper {
    width: 29px;
}

.tooltip_custom ul {
    padding: 10px;
    border: 1px solid #ACC9CB;
    border-radius: 10px;
    margin-bottom: 20px;
}

.health_issue span{
white-space: nowrap;
color: #FF0000;
}
.health_issue {
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.tooltip_custom::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #ffffff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -15px);
}

.tooltip_custom::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #acc9cb;
    top: 0;
    left: 50%;
    transform: translate(-50%, -16px);
}
/* tooltip */