.setting_wrapper.patient_exercise .settings_tabs.nav-pills .nav-link.active {
    background: var(--primary-color);
    color: var(--bs-white);
}

.setting_wrapper.patient_exercise .settings_tabs.nav-pills .nav-link {
    padding: 10px 12px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting_wrapper.patient_exercise .settings_tabs.nav-pills .nav-link.active .iconBtn svg path {
    fill: #fff;
}
.iconBtn{
    background-color: transparent;
    border: unset;
}
.stickQuote {
    position: sticky;
    padding: 10px 20px;
    background: #fff;
    top: 77px;
    z-index: 8;
}
.message_class {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 21.28px 12.16px 0px rgba(0, 0, 0, 0.02);
    background: rgba(221, 239, 255, 1);
    border-left: 5px solid rgba(0, 133, 255, 1);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.message_class p {
    margin: 0;
    font-weight: 500;
    color: rgba(0, 133, 255, 1);
    font-size: 13px;
    padding: 10px;
    padding-right: 3rem;
}
.setting_wrapper.patient_exercise {
    padding: 20px;
    background: rgba(172, 201, 203, 0.2);
}

.patient_exercise .setting_pills {
    padding-right: 20px;
}
.patient_exercise .settings_content {
    padding-left: 20px;
}

.image_insert .upload_image {
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}


.image_insert {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.authWrapper .upload_image input.form-control {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
}