.header {
    position: fixed;
    top: 0;
    background: var(--fade-color);
    width: calc(100% - var(--sidebar-width));
    right: 0;
    padding: 1rem 1.2rem;
    z-index: 999;
}

.sidbar_inner {
    position: fixed;
    background: var(--fade-color);
    width: var(--sidebar-width);
    height: 100%;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 8%);
    z-index: 999;
}

.user_info {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.8rem;
}

.user_info img {
    width: 70px;
    height: 70px;
}

.user_info h6 {
    font-size: var(--heading-size);
}

ul.menu_items li a {
    padding: 10px 0px;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    text-decoration: unset;
    color: var(--bs-black);
    font-weight: 500;
    max-width: 190px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}

ul.menu_items li a svg {
    flex: 0 0 24px;
    height: 24px;
}

ul.menu_items {
    gap: 18px;
}
.sidbar_inner::before {
    width: 12px;
    height: 100%;
    content: "";
    background: #fff;
    left: 0;
    position: absolute;
}
ul.menu_items li a.sidebar_active {
    background: var(--bs-white);
    color: var( --primary-color);
}

ul.menu_items li a.sidebar_active svg path {
    fill: var( --primary-color);
}
.notifications {
    width: 45px;
    height: 45px;
    background: var(--primary-color);
    border-radius: 50%;
}

span.author_name {font-weight: bold;font-size: 12px;}

span.notify_dot {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #F1867F;
    border-radius: 50%;
    top: 13px;
    right: 14px;
}
.notifications svg {
    width: 24px;
}

p.quote {
    font-size: 11px;
    padding-top: 3px;
}

.header h4 {
    font-size: 18px;
    font-weight: 600;
}
ul.menu_items li.log_out {
    position: fixed;
    bottom: 30px;
    left: 40px;
}

li.log_out div {
    background: var(--primary-color);
    padding: 10px 20px;
    gap: 10px;
    border-radius: 4px;
    color: var(--bs-white);
    font-weight: 500;
    cursor: pointer;
}
.toggle_btn{
    display: none;
}
.user_image_round {
    border-radius : 42px
}
@media(max-width:1440px){
    ul.menu_items {
        gap: 10px;
    }
    ul.menu_items li a, li.log_out span{
        font-size: 14px;
    }
    ul.menu_items li a svg {
        flex: 0 0 20px;
        height: 20px;
    }
    .user_info {
        margin-top: 2rem;
    }
    .user_info h6 {
        font-size: 18px;
    }
    .user_info p{
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .toggle_btn{
        display: block;
        width: 24px;
        
    }
    .sidbar_inner{
        display: none;
    }
    .sidbar_inner.mobile_sidebar{
        display: block;
    }
    .header{
        width: 100%;
    }
  
    
    .side_bar {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #ffffffd9;
        z-index: 9;
    }
    
    .sidbar_inner.mobile_sidebar {
        top: 77px;
    }
}
a.sidebar_active {
    position: relative;
}

a.sidebar_active::after {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    content: "";
    left: 0;
    bottom: -10px;
}
a.sidebar_active::before {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    content: "";
    left: 5px;
    top: -11px;
}
ul.menu_items li {
    position: relative;
}

ul.menu_items .active_menu::after {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    content: "";
    left: 12px;
    border-radius: 50%;
    background: #aac9cb;
    bottom: -20px;
}
ul.menu_items .active_menu::before {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    content: "";
    left: 12px;
    border-radius: 50%;
    background: #aac9cb;
    top: -20px;
    z-index: 2;
}