.exercise_tab .cmn_tabs {
    width: calc(100% - 90px);
}
.pose_image {
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
}
.body_parts {
    /* display: flex; */
    /* gap: 10px; */
    /* display: block; */
    /* align-items: center; */
    font-size: 14px;
}
.exercise_video iframe {
    clip-path: inset(0% 0% 0% 0% round 12px);
}

ul.exercise_status .patient_dropdown button.btn {
    border: unset !important;
    justify-content: end;
    font-size: 14px;
    color: #404040;
}

ul.exercise_status h5 {
    font-size: 16px;
}
ul.exercise_status p {
    font-size: 14px;
}
.pose_image img {
    width: 100%;
    border-radius: 10px;
    height: 315px;
    object-fit: cover;

}
h4.ex_heading {
    font-family: Poppins;
    font-weight: 500;
    font-size: 23.2px;
    line-height: 34.81px;
}
.exercise_video iframe {
    clip-path: inset(0% 0% 0% 0% round 12px);
}

.status_dropdown_wrapper select {
    border: 1px solid var(--primary-color);;
    padding: 7px;
    border-radius: 6px;
    font-size: 14px;
    min-width: 170px;
}

.status_dropdown_wrapper select:focus {
    outline: unset;
}

.status_dropdown_wrapper select option:checked {
    background: var(--primary-color);
}

ul.exercise_status button.btn {
    padding-top: 0;
}
li.table {
    display: flex;
    justify-content: space-between;
}
.exercise_heading {
    font-size: 14px;
    color: rgba(102, 102, 102, 1);
    font-weight: 600;
    padding-bottom: 5px;
}
ul.exercise_status li h5 {
    font-size: 16px;
    padding-bottom: 6px;
    color: rgba(102, 102, 102, 1);
}
ul.exercise_status li p {
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 10px;
    border-radius: 8px;
    background: #fff;
}

.body_parts span {
    padding: 10px;
    background: #fff;
    border-radius: 120px;
    min-width: 75px;
    text-align: center;
}

ul.exercise_status {
    color: rgba(102, 102, 102, 1);
}
img.exercise_selected_iamge {
    max-width: 100%;
    max-height: 100%;
}