.exercise_tab .cmn_tabs {
    width: calc(100% - 90px);
}
.pose_image {
    border: 1px solid #D9D9D9;
    border-radius: 19px;
    overflow: hidden;
    text-align: center;
}

/* .pose_image img {
    width: 60%;
    margin: auto;
} */
/* .pose_image {
    min-height: 300px;
} */
ul.exercise_status .patient_dropdown button.btn {
    border: unset !important;
    justify-content: end;
    font-size: 14px;
    color: #404040;
}
ul.exercise_status h5 {
    font-size: 16px;
}
ul.exercise_status p {
    font-size: 14px;
}
.pose_image img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
}
.exercise_heading {
    font-size: 18px;
    font-weight: 600;
    color: var(--bs-black);
}
.exercise_video video {
    clip-path: inset(0 0 0 0 round 20px);
}
ul.exercise_status li {
    display: flex;
    justify-content: space-between;
}
ul.exercise_status button.btn {
    padding-top: 0;
}
li.table {
    display: flex;
    justify-content: space-between;
}
.exercise_heading {
    font-size: 20px;
}
ul.exercise_status li  h5 {
    font-size: 18px;
}
