@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-color: #0C5E62;
  --secondary-color: #AAAAAA;
  --fade-color: #ACC9CB;
  --inactive-color:#F21717;
  --background-color: #f8f9fa;
  --text-color: #000;
  --textSecondary-color: #697077;
  --border-color:#D7D7D7;
  --input-color: #697077;
  --heading-size:24px;
  --heading-main:30px;
  --small-text:12px;
  --label-size:14px;
  --input-radius : 5px;
  --tableshadow:0px 4px 20px rgba(0,0,0,8%);
  --sidebar-width: 270px;
  --font-family:'Poppins';
}
/* cmn css */
body{
  font-family: var(--font-family);
}
p,a,li,span,strong,h1,h2,h3,h4,h5,h6{
  font-family: var(--font-family);
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.cmn_btn {
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  border-radius: var(--input-radius);
  color: var(--text-color);
  border: transparent;
  background: var(--fade-color);
  height: 45px;
}
/* .blur_bg {
  opacity: 15%;
} */
button.cmn_btn.filter_btn {
  height: 40px;
  position: relative;
  z-index: 2;
}
.wrapper {
  padding-left: var(--sidebar-width);
  padding-top: 77px;
}
.inner_wrapper{
  padding: 1.2rem;
}

.cmn_btn svg{
  fill: var(--bs-black);  
}
.cmn_btn.fade_color{
  background-color: var(--fade-color);
  color: var(--bs-black);
}
.cmn_btn.fade_color:hover{
  background-color: var(--primary-color);
  color: var(--bs-white);
}
.cmn_btn.fade_color:hover svg{
  fill: var(--bs-white);
} 
span.text-decoration-underline {
  color: #121619;
}
.loader_img img {
  width: 60px;
}
.error.text-danger{
  font-size: 13px;
  margin-top: 4px;
}
button.cmn_btn.border-btn {
  background: var(--bs-white);
  color: var(--primary-color);
  border-color: var(--primary-color);
  border: 1px solid;  
}
button.cmn_btn .spinner-border {
  width: 20px;
  height: 20px;
}
.cmn_modal .modal-body {
  max-height: auto;
  overflow: unset;
}
ul.react-international-phone-country-selector-dropdown {
  width: 100%;
  min-width: 200px;
}
li.dropdown_search {
  padding: 10px;
  display: flex;
  gap: 9px;
  border-bottom: 1px solid #D7D7D7;
}
li.dropdown_search input {
  border-radius: 5px;
  border: 1px solid #ACC9CB80;
  padding:5px 10px;
  font-size: 12px;
  width: 100%;
  font-weight: 400;
}
li.dropdown_search input:focus{
  outline: #0C5E62;
}
li.dropdown_search span {
  border: 1px solid #ACC9CB80;
  flex: 0 0 32px;
  text-align: center;
  line-height: 24px;
  border-radius: 5px;
}
.loader_img {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li.previous.disabled a, li.next.disabled a{
  color: #697077;
}

ul.pagination li a {text-decoration: unset;}

ul.pagination {
  align-items: center;
  gap: 10px;
  justify-content: center; 
  width: 100%;
}

ul.pagination li a {
  min-width: 40px;
  text-align: center;
  border: unset;
  color: var(--bs-black);
}

body .form-check-input:checked, body input[type="checkbox"]:checked {
  background-color: #005e62;
  border-color: #ffffff;
  accent-color: #005e62;
}
body .form-check-input, body input[type="checkbox"]{
  background-color: #fff;
  border-color: #005e62;
}
ul.pagination li.active {
  background-color: var(--primary-color);
  border-radius: 3px;
}

.table td.nodropdown .patient_dropdown button.btn {
  min-width: unset;
  border: unset !important;
  justify-content: center;
}

li.page-item.active a.page-link {
  background-color: var(--primary-color);
  border-radius: 3px;
}
.cmn_tabs.nav-tabs .nav-link.active, 
.cmn_tabs.nav-tabs .nav-link.active:hover,  
.cmn_tabs.nav-tabs .nav-link.active.focus,.cmn_tabs.nav-tabs .nav-link.focus {
  color: var(--primary-color);
  border: unset;
  border-bottom: 1px solid var(--primary-color);
}

.cmn_tabs.nav-tabs .nav-link {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  border: unset;
  background-color: transparent;
  padding: 9px 15px;
}

.cmn_tabs.nav-tabs {
  background: #F6FDFD;
}
.cmn_bg_wrapper {
  padding: 1.5rem;
  background: rgba(172, 201, 203, 0.2);
border: 1px solid rgba(172, 201, 203, 0.2);
  border-radius: 13px;
}
.cmn_table .patient_dropdown .dropdown {
  position: unset;
}

.cmn_table .patient_dropdown  .dropdown-menu {
  inset: unset !important;
  transform: unset !important;
  width: auto;
}
.react-international-phone-input-container{
  width: 100%;
}
input.react-international-phone-input{
  width: 100%;
}
div.multiSelectContainer li:hover, .multiSelectContainer .highlightOption {
  background: var(--primary-color);
}

.multiSelectContainer li {
  font-size: 14px;
  padding: 6px;
}

.multiSelectContainer span.chip {
  background: var(--primary-color);
}
div.css-13cymwt-control {
  border-color: var(primary-color);
}

div.css-t3ipsp-control, div.css-t3ipsp-control:hover {
  border-color: var(--primary-color);
  box-shadow: unset;
}
span.notFound {
  font-size: 13px;
}
div.css-1p3m7a8-multiValue {
  background: var(--primary-color);
  color: #fff;
  border-radius: 35px;
  display: flex;
  align-items: center;
  padding: 2px 10px;
}

div.css-9jq23d {
  padding: 0px;
  color: #fff;
}
.streach_table {
  min-height: 80vh;
}

button.btn.cmn_btn:hover {
  background: var(--primary-color);
  color: var(--bs-white);
}
button.btn.cmn_btn:disabled:hover {
  color: var(--bs-btn-disabled-color);
  background: #ddd;
}
.error_input {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: var(--bs-form-invalid-color);
}
.css-v7duua {
  padding-right: 0px;
  margin-right: -5px;
}
div.css-v7duua:hover {
  background-color: unset;
  color: #fff;
}
.cmn_modal.imageModal .modal-dialog {
  max-width: 500px;
}
@media(max-width:1440px){
  .cmn_btn {
height: 40px;
  }
  :root {
     --sidebar-width:250px;
  }
}
@media(max-width:1024px){
  .wrapper{
    padding-left: 0;
  }
}