
ul.static_tabs {
    border-bottom: 1.2px solid #EAEAEA;
    background-color: #F6FDFD;
}

ul.static_tabs li {
    padding: 7px 10px;
    font-weight: 500;
    color: #666666;
    cursor: pointer;
    font-size: 14px;
}

ul.static_tabs li.active {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}